<!DOCTYPE html>
<html lang="es">
	<head>
		<link href="/css/hojadisenopagina.css" rel="stylesheet" />
		<meta charset="utf-8" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css"
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <meta http-equiv="refresh" content="5" /> -->
		<title>Proyecto 2 - Grupo 3</title>
	</head>
	<body>
		<section id="contenedor">
			<header>
				<h1><em>Ubicación de tu camión </em></h1>
			</header>
			<main>
				<div id="map"></div>
				<!-- <script src="/codigomaps.js"></script> -->
			</main>

			<h1 id="showLatitude"></h1>
			<br />
			<h1 id="showLongitude"></h1>
			<br />
			<h1 id="showFecha"></h1>
			<br />
		</section>
		<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
		<script src="/js/index.js"></script>
	</body>
</html>
